@charset "UTF-8";
/* CSS Document */


body{
	background-color: #F2EFEB;
}

.top_title {
	
	margin-top: 120px;
	margin-bottom: 100px;
	text-align:  center;
}

.img_title{
	
	width: 70%;
	max-width:  540px;
}



.btnBuyRow{
	text-align: center;
	margin-bottom: 5%;
}

.btn_buy {
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 2%;
	margin-right: 2%;
	text-align:  center;
	display: inline-block;
}

.img_buy{	
	width: 100%;
	max-width:  225px;
}


.des{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	width: 90%;
}

.des_title{
	color: #444;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.des_title strong {
	font-size: 1.5em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}


.des .des_title p {
	
	font-size: 1.2em;
}

.preview{
	
	text-align: center;
}
.preview img{
	width: 78%;
	max-width: 700px;
}


.btn_row {
    width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.scale_row{
	width: 90%;
	max-width: 720px;
	margin-bottom: 10%;
	
	display: inline-block;
	text-align: center;
}

.btn{
	width:  20%;
	height:  100px;
	
	display: inline-block;
	
    text-align: center;
    margin: 4%;
}

.btn img{
	max-width: 100%;
}

